$color-white:  #FFFFFF;
$color-dark: #000000;
$color-dark-l: #272727;
$color-dark-xl: #757575;
$color-dark-xxl: #959595;
$color-yell: #EFC58B;
$color-grey: #C2C2C2;
$color-grey-l: #C4C4C4;
$color-grey-xl: #EDEDED;

$tablet: 1024px;
$mobile: 767px;
