/* header styles start*/
.header__wrapper {
    margin: 60px auto;
    display: flex;
    align-items: center;
} 
.logo__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}
.logo__link:hover {
    filter: brightness(120%);
}
.logo__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}
.logo__subtitle {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}
.header__nav {
    margin-left: auto;
    display: flex;
}
.nav__link {
    text-decoration: none;
    color: var(--color-dark-s);
    margin-left: 35px;
}
.nav__link::after {
    content: "";
    display: block;
    width: 0;
    background-color: var(--color-primary);
    height: 3px;
}
.nav__link--active,
.nav__link:hover,
.nav__link:active {
    color: var(--color-light-s);
}
.nav__link--active:after {
    width: 100%;
}
/* header styles end*/


/* start styles start*/
.start {
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.start__wrapper {
    padding-top: 180px;
    display: flex;
}
.start__content{
    max-width: 460px;
    padding: 163px 0 20px 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title--start {
    width: 67%;
    margin: 0 0 42px 0;
    padding: 0;
    font-size: 44px;
    color: var(--color-light-xl);
}
.start__text {
    margin: 0 0 42px 0;
    line-height: 160%;
    color: var(--color-dark-s);
}
.start__link {
    text-decoration: none;
    display: block;
}
.start__img {
    max-width: 698px;
}

/* start styles end*/