html {  
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  background-color: #000000;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding-top: 130px;
  flex-grow: 1;
}


// .title {
//   color: $color-white;
// }

// .input-num {
//   width: 100px;
// }