html {  
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.wrapper {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.title {
  color: $color-white;
}

.input-num {
  width: 100px;
}