/* Georgia-regular */
@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/georgia-regular.ttf') format(); 
}
/* Arial-regular */
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/arial-regular.ttf') format(); 
}
/* Arial-italic */
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: url('../../assets/fonts/arial-italic.ttf') format(); 
}