:root {
    --color-light-xl:  #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
}
/* Georgia-regular */
@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/georgia-regular.ttf') format(); 
}
/* Arial-regular */
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/arial-regular.ttf') format(); 
}
/* Arial-italic */
@font-face {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/arial-italic.ttf') format(); 
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    box-sizing: inherit;
}
body {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    background-color: var(--color-dark-2xl);
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.main {
    margin-top: -180px;
}
.section__title {
    margin: 0 auto;
    padding: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}
.image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}
.button {
    padding: 15px 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    background-color: var(--color-primary);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s;
}
.button:not(.nohover):hover {
    background-color: var(--color-primary-light);
}
.nohover {
    cursor: auto;
}

/* header styles start*/
.header__wrapper {
    margin: 60px auto;
    display: flex;
    align-items: center;
} 
.logo__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}
.logo__link:hover {
    filter: brightness(120%);
}
.logo__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}
.logo__subtitle {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}
.header__nav {
    margin-left: auto;
    display: flex;
}
.nav__link {
    text-decoration: none;
    color: var(--color-dark-s);
    margin-right: 35px;
}
.nav__link:last-child {
    margin-right: 0;
}
.nav__link::after {
    content: "";
    display: block;
    width: 0;
    background-color: var(--color-primary);
    height: 3px;
}
.nav__link--active,
.nav__link:hover,
.nav__link:active {
    color: var(--color-light-s);
}
.nav__link--active:after {
    width: 100%;
}
/* header styles end*/

/* pets styles start*/
.pets {
    background-color: var(--color-light-l);
}
.pets__wrapper {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}
.title--pets {
    max-width: 400px;
}
.pets__slider {
    width: 100%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pets__card {
    max-width: 270px;
    min-height: 435px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    padding-bottom: 30px;
    background-color: var(--color-light-s);
    cursor: pointer;
    transition: all 0.3s;
}
.pets__card:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets__card:hover .btn__clear {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}   
.card__img {
    margin-bottom: 30px;
}
.card__name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    flex-grow: 1;
    margin: 0;
    margin-bottom: 10px;
}
.btn__clear {
    background: none;
    border: 2px solid var(--color-primary);
}
.btn__round {
    background: none;
    padding: 0;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--color-primary);
}
.btn__clear:not(.nohover):hover,
.btn__round:not(.nohover):hover {
    border: 2px solid var(--color-primary-light);
}

/* pets styles end*/



/* footer styles start*/
.footer {
    background: url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.footer__wapper {
    font-family: 'Georgia';
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.title--footer {
    color: var(--color-light-xl);
    text-align: left;
}
.footer__contacts {
    max-width: 280px;
}
.footer__location {
    max-width: 300px;
}
.footer__contacts,
.footer__location {
    min-height: 234px;
    margin-top: 16px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__link {
    height: 40px;
    padding-left: 60px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    background-position: 0 center;
    background-repeat: no-repeat;
}
.footer__link--email {
    background-image: url(../assets/icons/mail.svg);
}
.footer__link--phone {
    background-image: url(../assets/icons/phone.svg);
}
.footer__link--map {
    background-image: url(../assets/icons/pin.svg);
    padding-left: 42px;
}
.footer__img {
    max-width: 300px;
}
/* footer styles end*/
