/* header styles start*/
.header {
    background-color: $color-light-xl;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.header__wrapper {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__nav {
    background-color: $color-light-xl;
}
.logo__title {
    color: $color-dark-l;
}
.logo__subtitle {
    color: $color-dark-3xl;
}
.nav__link {
    color: $color-dark-l;
}
.nav__link:hover,
.nav__link:active {
    color: $color-dark-3xl;
}
.burger {
    .line {
        background-color: $color-dark;
    }
}
/* header styles end*/


/* pets styles start*/
.pets {
    background-color: $color-light-l;
}
.pets__wrapper {
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;

    @media screen and (max-width: $tablet) {
        padding-bottom: 76px;
    }

    @media screen and (max-width: $mobile) {
        padding: 162px 5px 42px 5px;
    }
}
.title--pets {
    max-width: 400px;
}
.pets__page {
    width: 100%;
    margin: 45px auto;
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    animation-name: page-show;
    animation-duration: 1s;

    @media screen and (max-width: $tablet) {
        width: 82%;
        margin: 30px auto 40px;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);

        .pets__card:nth-child(8),
        .pets__card:nth-child(7) {
            display: none;
        }
    } 
    @media screen and (max-width: $mobile) {
        margin: 42px auto;
        padding: 0;
        grid-template-columns: 1fr;

        .pets__card:nth-child(6),
        .pets__card:nth-child(5),
        .pets__card:nth-child(4) {
            display: none;
        }
    } 
}

@keyframes page-show {
    0%   {opacity: 0;}
    80%  {opacity: 0;}
    100% {opacity: 1;}
}

.pagination {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    font-size: 20px;

    @media screen and (max-width: $mobile) {
        column-gap: 10px;
    }
}

.btn__round--active {
    background-color: $color-primary;
    cursor: auto;
}
.btn__round--last {
    border: 2px solid $color-dark-s;
    color: $color-dark-s;
    cursor: auto;
}
/* pets styles end*/