/* header styles start*/
.header {
    background-color: $color-light-xl;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.header__wrapper {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logo__title {
    color: $color-dark-l;
}
.logo__subtitle {
    color: $color-dark-3xl;
}
.nav__link {
    color: $color-dark-l;
}
.nav__link:hover,
.nav__link:active {
    color: $color-dark-3xl;
}
.burger {
    .line {
        background-color: $color-dark;
    }
}
/* header styles end*/


/* pets styles start*/
.pets {
    background-color: $color-light-l;
}
.pets__wrapper {
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;

    @media screen and (max-width: $mobile) {
        padding: 162px 5px 42px 5px;
    }
}
.title--pets {
    max-width: 400px;
}
.pets__slider {
    width: 100%;
    margin: 45px auto;
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 30px;

    @media screen and (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);

        .pets__card:nth-child(8),
        .pets__card:nth-child(7) {
            display: none;
        }
    } 
    @media screen and (max-width: $mobile) {
        margin: 42px auto;
        padding: 0;
        grid-template-columns: 1fr;

        .pets__card:nth-child(6),
        .pets__card:nth-child(5),
        .pets__card:nth-child(4) {
            display: none;
        }
    } 
}
.pagination {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    font-size: 20px;

    @media screen and (max-width: $mobile) {
        column-gap: 10px;
    }
}
/* pets styles end*/