.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;

  &:hover {
    filter: brightness(50%);
  }
}
.icon--facebook {
  background-image: url(../assets/img/Facebook.svg);
}
.icon--instagram {
  background-image: url(../assets/img/Instagram.svg);
}