.range__slider {
  width: 100%;
  margin: 0 0 20px 0;
}
.range__values {
  display: flex;
  justify-content: space-between;
}
.range__input {
  text-align: center;
  width: 45%;
  border: 1px solid $color-dark-xl;
  outline: none;
  border-radius: 3px;
  background: $color-white;
  cursor: default;
}
.noUi-target  {
  height: 10px;
}
.noUi-connect {
  background: $color-dark-xl;
}
.noUi-target .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; 
  border-radius: 9px;
}
.noUi-target .noUi-handle::after {
  width: 0;
}