/* Futura PT */
@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/FuturaPT-Light.ttf") format('truetype');
}
/* Forum */
@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Forum-Regular.ttf") format('truetype');
}
/* Segoe UI */
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/Segoe-UI-Italic.ttf") format('truetype');
}