.button {
    padding: 15px 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background-color: $color-primary;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s;

    &:not(.btn__round--last, .btn__round--active):hover {
        background-color: $color-primary-light;
    }
}


.btn__clear {
    background: none;
    border: 2px solid $color-primary;

    &:not(.btn__round--last):hover {
        border: 2px solid $color-primary-light;
    }
}


.btn__round {
    background: none;
    padding: 0;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid $color-primary;

    &:not(.btn__round--last):hover {
        border: 2px solid $color-primary-light;
    }
}
