.pets__slider {
    width: 100%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $tablet) {
        max-width: 768px;
    }
    @media screen and (max-width: $mobile) {
        max-width: 320px;
        margin: 42px auto;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 80px;
        justify-content: center;
    }
}

.slider__container {
    width: 990px;
    overflow: hidden;

    @media screen and (max-width: $tablet) {
        width: 580px;
    }

    @media screen and (max-width: $mobile) {
        width: 270px;
        order: 1;
    }
}
.slider {
    position: relative;
    left: -1080px;
    display: flex;
    column-gap: 90px;

    @media screen and (max-width: $tablet) {
        left: -620px;    
        column-gap: 40px;
    }
    @media screen and (max-width: $mobile) {
        left: -310px;    
    }

}
.slide {
    display: flex;
    column-gap: 90px;

    @media screen and (max-width: $tablet) {
        column-gap: 40px;
        .pets__card:nth-child(3) {
            display: none;
        }
    }

    @media screen and (max-width: $mobile) {
        .pets__card:nth-child(2) {
            display: none;
        }
    }
}


@keyframes move-left{
    from {left: -1080px;}
    to {left: 0px;}
}
@keyframes move-right {
    from {left: -1080px;}
    to {left: -2160px;}
}

@media screen and (max-width: $tablet) {
    @keyframes move-left{
        from {left: -620px;}
        to {left: 0px;}
    }
    @keyframes move-right {
        from {left: -620px;}
        to {left: -1240px;}
    }
}
@media screen and (max-width: $mobile) {
    @keyframes move-left{
        from {left: -310px;}
        to {left: 0px;}
    }
    @keyframes move-right {
        from {left: -310px;}
        to {left: -620px;}
    }
}

.transition-left {
    animation-name: move-left;
    animation-duration: 1s;
}
.transition-right {
    animation-name: move-right;
    animation-duration: 1s;
}

.btn__round--arr-right {
    background-image: url(../assets/icons/Arrow.svg);
    transform: rotate(180deg);
}
.btn__round--arr-left {
    background-image: url(../assets/icons/Arrow.svg);
}
.slider__btn {
    @media screen and (max-width: $mobile) {
        order: 2;
    }
}