/* footer styles start*/
.footer {
    background: url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.footer__wapper {
    font-family: 'Georgia';
    padding-top: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 160px;
    justify-items: center;

    @media screen and (max-width: $tablet) {
        padding: 30px 64px 0;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 65px;
    }
    @media screen and (max-width: $mobile) {
        padding: 30px 10px 0;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}
.title--footer {
    color: $color-light-xl;
    text-align: left;

    @media screen and (max-width: $mobile) {
        padding: 0 15px;
        text-align: center;
    }
}
.footer__contacts {
    width: 280px;
}
.footer__location {
    width: 300px;
}
.footer__contacts,
.footer__location {
    min-height: 234px;
    margin-top: 16px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $tablet) {
        margin: 0 auto;
    }
    @media screen and (max-width: $mobile) {
        min-height: auto;
        align-items: center;
        row-gap: 40px;
    }
}
.footer__link {
    height: 40px;
    padding-left: 60px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: $color-primary;
    display: flex;
    align-items: center;
    background-position: 0 center;
    background-repeat: no-repeat;

    @media screen and (max-width: $mobile) {
        height: 32px;
    }
}
.footer__link--email {
    background-image: url(../assets/icons/mail.svg);
}
.footer__link--phone {
    background-image: url(../assets/icons/phone.svg);
}
.footer__link--map {
    background-image: url(../assets/icons/pin.svg);
    padding-left: 42px;
    width: 100%;

    @media screen and (max-width: $mobile) {
        height: 40px;
    }
}
.footer__img {
    width: 300px;

    @media screen and (max-width: $tablet) {
        grid-column: 1/span 2;
    }
    @media screen and (max-width: $mobile) {
        max-width: 87%;
        grid-column: 1/2;
    }
}
/* footer styles end*/