.header__wrapper {
    margin: 60px auto;
    display: flex;
    align-items: center;

    @media screen and (max-width: $tablet) {
        margin: 30px auto 60px;
    }
    @media screen and (max-width: $mobile) {
        padding: 0 53px 0 10px;
    }
} 

/* logo styles start*/
.header__logo {
    &.hidden {
        transition: all 0.5s;
        flex-grow: 1;
        z-index: 2;

        .logo__link {
            align-items: flex-end;
        }
    }
}

.logo__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;

    &:hover {
        filter: brightness(120%);
    }
}
.logo__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-primary;
}
.logo__subtitle {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
}
/* logo styles end*/

/* nav styles start*/
@keyframes slideIn {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
}


.header__nav {
    margin-left: auto;
    display: flex;

    @media screen and (max-width: $mobile) {
        display: flex;
        width: 320px;
        height: 100vh;
        flex-direction: column;
        position: fixed;
        align-items: center;
        row-gap: 40px;
        right: -150%;
        top: 0;
        padding-top: 248px;
        background-color: $color-dark-3xl;
        transition: all 0.5s;

        &.open {
            right: 0;
            animation-name: slideIn;
            animation-duration: 0.5s;
        }

        .nav__link {
            margin-right: 0;
            font-size: 32px;
            line-height: 160%;
        }
    }
}
.nav__link {
    text-decoration: none;
    color: $color-dark-s;
    margin-right: 36px;
}
.nav__link:last-child {
    margin-right: 0;
}
.nav__link::after {
    content: "";
    display: block;
    width: 0;
    background-color: $color-primary;
    height: 3px;
}
.nav__link--active,
.nav__link:hover,
.nav__link:active {
    color: $color-light-s;
}
.nav__link--active:after {
    width: 100%;
}
/* nav styles end*/


/* burger styles end*/
.burger {
    display: none;

    @media screen and (max-width: $mobile) {
        width: 30px;
        height: 22px;   
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;
        z-index: 2;
        cursor: pointer;
    }

    &:hover {
        filter: brightness(120%);
    }

    .line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
        z-index: 2;
    }

    &.open  {
        transform: rotate(90deg);
    }

}
.back {
    display: none;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(41, 41, 41, 0.6);

    &.visible {
        display: block;
    }
}

/* burger styles end*/