/* header styles start*/
.header__wrapper {
    margin: 60px auto;
    display: flex;
    align-items: center;

    @media screen and (max-width: $tablet) {
        margin: 30px auto 60px;
    }
} 
.logo__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}
.logo__link:hover {
    filter: brightness(120%);
}
.logo__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-primary;
}
.logo__subtitle {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
}
.header__nav {
    margin-left: auto;
    display: flex;


}
.nav__link {
    text-decoration: none;
    color: $color-dark-s;
    margin-right: 36px;
}
.nav__link:last-child {
    margin-right: 0;
}
.nav__link::after {
    content: "";
    display: block;
    width: 0;
    background-color: $color-primary;
    height: 3px;
}
.nav__link--active,
.nav__link:hover,
.nav__link:active {
    color: $color-light-s;
}
.nav__link--active:after {
    width: 100%;
}
/* header styles end*/